<div class="container">
  <h1>Threaded Forum</h1>
  
  <%= render "form", post: @post %>
  
  <% @posts.each do |post| %>
    <p>
      <%= link_to "#{post.id}. #{I18n.l(post.created_at, format: :default)}" , post_path(post), class: "posts" %> 
      <span><%= post.subject %></span>
    </p>
  <% end %>
  
  <%= paginate @posts %>
</div>